pertemuan_15/main.exe
pertemuan_15/main.c
contoh_penggabungan_file/persegipanjang.c
contoh_penggabungan_file/persegi.c
contoh_penggabungan_file/main.o
contoh_penggabungan_file/main.h
contoh_penggabungan_file/main.c
project_uas/.vscode/c_cpp_properties.json
